body {
    font-family: Arial, Helvetica, serif;
    font-size: 14pt;
}

.container{
	position: relative;
    padding: 20px;
	margin: 0 auto;
    padding-bottom: 20px;
	width:800px;
	border: 2px solid gray;
	text-align: center;
	font-size: 16px;
}

.button {
    width: 200px;
    text-align: center;
    background: gray;
    padding: 5px;
    margin: 10px auto;
}

.buttonText {
    color: rgb(200,200,200);
    text-decoration: none;
}

.buttonText:hover {
    color: white;
}

#trainEndWarning {
    display: none;
    color: red;
}

#trial {
    padding: 20px;
    width: 800px;
    min-height: 704px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid gray;
}

.row {
  display: flex;
}

.column {
  flex: 50.00%;
  padding: 5px;
}

#trialOptions{
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

.option {
    padding: 5px 20px;
    margin: 5px auto;
}

#option1box {
    float: left;
    margin-left: 150px;
}

#option2box {
    float: right;
    margin-right: 150px;
}

#nextTrialMessage {
    display: none;
}
