<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Behavioural Study</title>

    <!--    jQuery    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!--    Study CSS and JavaScript    -->
    <link rel="stylesheet" type="text/css" href="static/greene2009/style.css">
    <script type="text/javascript" src="static/greene2009/script.js"></script>
</head>
<body>

<div class="container" id="instructions">
    <h2>Welcome to our study!</h2>
    <p>This is a psychology experiment in which you will be shown <b>pairs of images</b> reminiscent of natural scenes and will need to judge which one <b>{{ data.goal }}</b>. The task will take about <b>5 minutes</b> to complete.</p>
    <p>For the purposes of this study, the <b>{{ data.attribute }}</b> of a scene is meant to be understood as follows:</p>
    <ul style="text-align: left">
      <li><b>{{ data.negLabel }}:</b> {{ data.negDescription }}</li>
      <li><b>{{ data.posLabel }}:</b> {{ data.posDescription }}</li>
    </ul>
    <p>High/low {{ data.attribute }} examples are shown at the bottom of this page. Note that during the experiment, <b>most of the images might not look like real scenes</b>, and will be far more abstract. Nevertheless, do your best to make judgements about
        {{ data.attribute }} as if the images were of real scenes.</p>
    <p>Before the task begins, there will be a brief <b>training session</b>. This training session will be identical to the actual experiment in every way, except that your responses will not be recorded. The purpose of the training session is to give you a better understanding of the task.</p>
    <h2>Consent</h2>
    <p>By completing this survey, you are consenting to be in this research study. The data we collect is completely anonymous. Your participation is voluntary and you can stop at any time. If you are ready, check the box below to indicate your consent.</p>
    <p><input type="checkbox" name="consent_check" value="agree" id="consent"> I agree to participate. </p>
    <div id="startExperimentButton" class="button">
        <a href="#" class="buttonText" id="startExperiment">Ready to begin!</a>
    </div>
    <div class="row">
        <div class="column">
            <p>The image below has <b>{{ data.negLabel }}</b></p>
            <img src="static/greene2009/{{ data.attribute }}/examples/neg.jpg">
        </div>
        <div class="column">
            <p>The image below has <b>{{ data.posLabel }}</b></p>
            <img src="static/greene2009/{{ data.attribute }}/examples/pos.jpg">
        </div>
    </div>
</div>

<div id="trial">
    <h2 id="sessionMode">Training segment</h2>
    <div class="row">
        <div class="column">
            <img width="300" height="300" id="trialImg1" src="">
        </div>
        <div class="column">
            <img width="300" height="300" id="trialImg2" src="">
        </div>
    </div>
    <div id="trialOptions">
        <p>Which of these <b>{{ data.goal }}</b>?</p>
        <div class="option" id="option1box"><strong id="option1">Left</strong><br />(Press 'F')</div>
        <div class="option" id="option2box"><strong id="option2">Right</strong><br />(Press 'J')</div>
    </div>
    <div id="definitions">
        <ul style="text-align: left">
          <li><b>{{ data.negLabel }}:</b> {{ data.negDescription }}</li>
          <li><b>{{ data.posLabel }}:</b> {{ data.posDescription }}</li>
        </ul>
    </div>
    <div id="nextTrialMessage">
        <p>Press 'Space' to continue</p>
    </div>
    <div id="trainEndWarning">
        <h2>Warning!!!</h2>
        <p>This was the last trial in the training session. The experiment begins with the next presented images. Tick the box below to confirm that you are ready to begin the experiment before pressing the 'Next' button.</p>
        <p><input type="checkbox" id="proceedExperiment"> I am ready to begin. </p>
    </div>
</div>

<div class="container" id="completed">
  <p>Your browser should automatically redirect you to Prolific's webpage where you will be given a completion code.</p>
  <p>Redirecting in <span id="countDown"><b></b></span> seconds.</p>
  <p>If you're not automatically redirected in a few seconds, please click the below link, or copy and paste the address into your web browser:
  <br>
  <b><a id="urlProlific" href=""></a></b>
</div>

</body>
</html>
